<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="QUANLYBENHVIENEntities" connectionString="metadata=res://*/QLBVModel.csdl|res://*/QLBVModel.ssdl|res://*/QLBVModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qlbv-database.cntem6smqq4q.ap-southeast-1.rds.amazonaws.com;initial catalog=QUANLYBENHVIEN;user id=quanlybenhvien;password=quanlybenhvien;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>